<div class="modal fade" id="app-annoucement-modal" tabindex="-1" role="dialog" aria-labelledby="Important Announcement">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row margin-8">
          <div class="col-xs-12">
            <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4>Playdemic App Policy Changes</h4>
            <p>
              After discussions with Playdemic, we wanted to give everyone a heads up about an
              upcoming policy change for all 3rd Party apps associated with Golf Clash.
              Tentatively, this will affect all app updates on or after April 22nd, 2019.
            </p>
            <p>
              In an effort to close any gaps between playing Golf Clash on Android vs. iOS,
              Playdemic has decided to enforce the elimination of any app overlay capabilities from
              3rd party Golf Clash apps. For the Notebook Android app, this will include the club
              ring adjustment menu that you see docked on the left or right side of your screen,
              grids and emoji blockers. For the Notebook iOS app, this will include the multitasking
              capability that allows you to slide the app over on an iPad as well as any iOS widgets
              since they also overlay information on top of the game during play.
            </p>
            <p>
              While this will affect one of the best features of the app, we'll still work on
              keeping the Notebook app the best tool out there to help you improve your game. Some
              details are still being ironed out, but we wanted to get this information out to you
              all as soon as possible so any app users are prepared. We'll be sure to keep you all
              updated as the situation evolves!
            </p>
          </div>
        </div>
        <div class="row margin-8">
          <div class="col-xs-12 text-center">
            <button type="button" class="btn btn-default btn-slim" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>