
{% capture resourceIcon %}
  {% if include.resource.url contains 'facebook' %}
    <i class="fa fa-2x fa-facebook-official text-facebook" aria-hidden="true"></i>
  {% elsif include.resource.url contains 'reddit' %}
    <i class="fa fa-2x fa-reddit text-reddit" aria-hidden="true"></i>
  {% elsif include.resource.url contains 'twitch' %}
    <i class="fa fa-2x fa-twitch text-twitch" aria-hidden="true"></i>
  {% elsif include.resource.url contains 'twitter' %}
    <i class="fa fa-2x fa-twitter text-twitter" aria-hidden="true"></i>
  {% elsif include.resource.url contains 'youtube' %}
    <i class="fa fa-2x fa-youtube-play text-youtube" aria-hidden="true"></i>
  {% else %}
    <i class="fa fa-2x fa-globe" aria-hidden="true"></i>
  {% endif %}
{% endcapture %}

<div class="panel panel-default gcn-card" style="flex: 1;">
  <div class="panel-heading">
    <div class="thumbnail">
      {{ resourceIcon }}
    </div>
    <h4 class="title"><a href="{{ include.resource.url }}" target="_blank" rel="noopener">{{ include.resource.name }}</a></h4>
  </div>
  <div class="panel-body">
    {% if include.resource.description contains 'Help Wanted' %}
      <p class="text-prototype">
        {% lipsum 1 5 10 %}
      </p>
    {% else %}
      <p style="margin-top: 20px;">
        {{ include.resource.description }}
      </p>
    {% endif %}
  </div>
</div>