
#add-club-form {
  padding: 0 32px 32px 32px;
}

.wind-chart-mode-info-btn {
  border: none;
  color: #999;
  margin-left: 8px;
  padding: 0;
}

.wind-chart-club-card {

  .club-info {
    display: inline-block;
  }

  .remove-club-btn {
    padding: 4px 12px;
    margin: 12px;
  }

}
