
modules/site/src/main/resources/microsite/js/golf-clash-notebook-site.*
modules/siteJS/src/main/resources/microsite/js/golf-clash-notebook-site.*

### Scala ###
*.class
*.log

### SBT ###
.cache
.history
.lib/
_site/
dist/
local.sbt
target/
project/project
project/target
project/metals.sbt

### Editor Specific ###
*.sublime*
.bloop
.bsp
.metals
.vscode

.env
.DS_Store
