
{% include contributing/status-hole-guides.liquid %}
{% include contributing/status-hole-text.liquid %}
{% include contributing/status-clubs.liquid %}
{% include contributing/status-balls.liquid %}
{% include contributing/status-tours.liquid %}

<div class="row">
  <div class="col-xs-6 col-xs-offset-4 text-center text-semi-muted text-tiny">
    Current progress.
  </div>
</div>
