
{% assign nonBeginnerClubs = "" | split: "" %}

{% for club in include.clubs %}
  {% unless club.type contains 'Beginner' %}
    {% assign nonBeginnerClubs = nonBeginnerClubs | push: club %}
  {% endunless %}
{% endfor %}

{% assign mod2 = nonBeginnerClubs | size | modulo: 2 %}

<h1 class="gcn-page-header">{{ include.categoryName }}</h1>

<div>

  {% for club in nonBeginnerClubs %}

    {% assign loopMod2 = forloop.index0 | modulo: 2 %}
    {% assign nextIx = forloop.index0 | plus: 1 %}
    {% assign numClubs = nonBeginnerClubs | size %}

    {% capture columnClasses %}
      {% if mod2 == 1 and forloop.last %}
        col-lg-6 col-lg-offset-3 col-md-12 col-md-offset-0
      {% else %}
        col-lg-6 col-md-12
      {% endif %}
    {% endcapture %}

    {% if nextIx < numClubs and loopMod2 == 0 %}

      {% assign nextClub = nonBeginnerClubs[nextIx] %}

      <div class="row">
        <div class="{{ columnClasses | strip }} col-flex" data-mh="club-card">
          {% include clubs/individual-template.liquid club=club %}
        </div>
        <div class="{{ columnClasses | strip }} col-flex" data-mh="club-card">
          {% include clubs/individual-template.liquid club=nextClub %}
        </div>
      </div>

    {% elsif loopMod2 == 0 %}
      <div class="row">
        <div class="{{ columnClasses | strip }} col-flex" data-mh="club-card">
          {% include clubs/individual-template.liquid club=club %}
        </div>
      </div>
    {% else %}
    {% endif %}

  {% endfor %}
</div>