<footer id="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-9">
                <p>Golf Clash Notebook is designed and developed by <a href="https://github.com/golf-clash-notebook/golf-clash-notebook.github.io/graphs/contributors/" target="_blank" rel="noopener">Golf Clash Notebook Contributors</a></p>
            </div>
            <div class="col-xs-3">
                <p class="text-right">
                  <i class="fab fa-github"></i>
                  <a href="https://github.com/golf-clash-notebook/golf-clash-notebook.github.io/">
                    View on GitHub
                  </a>
                </p>
            </div>
        </div>
    </div>
</footer>