<div id="sign-in-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fas fa-times"></i>
        </button>
        <h3 class="text-center">Choose your Sign In Method</h3>
        <br>
        <p class="text-center">
          <a id="login-via-facebook" class="btn btn-default btn-login margin-8" href="#" role="button">
            <i class="fab fa-facebook fa-3x text-facebook img-center"></i>
            <span class="text-tiny text-semi-muted">Facebook</span>
          </a>
          <a id="login-via-google" class="btn btn-default btn-login margin-8" href="#" role="button">
            <i class="fab fa-google fa-3x text-google img-center"></i>
            <span class="text-tiny text-semi-muted">Google</span>
          </a>
          <a id="login-via-twitter" class="btn btn-default btn-login margin-8" href="#" role="button">
            <i class="fab fa-twitter fa-3x text-twitter img-center"></i>
            <span class="text-tiny text-semi-muted">Twitter</span>
          </a>
        </p>
        <div id="sign-in-error-alert" class="alert alert-danger hidden text-center" role="alert"></div>
      </div>
    </div>
  </div>
</div>
