<!doctype html>
<html lang="en" dir="ltr">

  <head>

    {% if page.title != undefined and page.title != empty %}
      <title>{{ page.title }} - Golf Clash Notebook</title>
    {% else %}
      <title>Golf Clash Notebook</title>
    {% endif %}

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="golf-clash-notebook">
    <meta name="theme-color" content="#192a37"/>

    <meta name="description" content="An Open Source Guide to Mastering Golf Clash">

    <meta property="og:image" content="https://golfclashnotebook.io/img/twitter/summary-large.png">
    <meta property="og:title" content="Golf Clash Notebook">
    <meta property="og:site_name" content="Golf Clash Notebook">
    <meta property="og:url" content="https://golfclashnotebook.io">
    <meta property="og:type" content="website">
    <meta property="og:description" content="An Open Source Guide to Mastering Golf Clash">

    <link rel="icon" type="image/png" href="/img/favicon.png">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Golf Clash Notebook">
    <meta name="twitter:image" content="https://golfclashnotebook.io/img/twitter/summary-144.png">
    <meta name="twitter:description" content="An Open Source Guide to Mastering Golf Clash">

    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon16x16.png">
    <link rel="icon" type="image/png" sizes="24x24" href="/img/favicon24x24.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon32x32.png">
    <link rel="icon" type="image/png" sizes="48x48" href="/img/favicon48x48.png">
    <link rel="icon" type="image/png" sizes="57x57" href="/img/favicon57x57.png">
    <link rel="icon" type="image/png" sizes="60x60" href="/img/favicon60x60.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/img/favicon64x64.png">
    <link rel="icon" type="image/png" sizes="70x70" href="/img/favicon70x70.png">
    <link rel="icon" type="image/png" sizes="72x72" href="/img/favicon72x72.png">
    <link rel="icon" type="image/png" sizes="76x76" href="/img/favicon76x76.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon96x96.png">
    <link rel="icon" type="image/png" sizes="114x114" href="/img/favicon114x114.png">
    <link rel="icon" type="image/png" sizes="120x120" href="/img/favicon120x120.png">
    <link rel="icon" type="image/png" sizes="128x128" href="/img/favicon128x128.png">
    <link rel="icon" type="image/png" sizes="144x144" href="/img/favicon144x144.png">
    <link rel="icon" type="image/png" sizes="150x150" href="/img/favicon150x150.png">
    <link rel="icon" type="image/png" sizes="152x152" href="/img/favicon152x152.png">
    <link rel="icon" type="image/png" sizes="196x196" href="/img/favicon196x196.png">
    <link rel="icon" type="image/png" sizes="310x310" href="/img/favicon310x310.png">
    <link rel="icon" type="image/png" sizes="310x150" href="/img/favicon310x150.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/css/bootstrap-slider.min.css">

    <!-- Our styles -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/gcn-styles.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110417967-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-110417967-1');
    </script>

  </head>

  <body>

    {% if include.header %}
      {% include gcn-header.liquid %}
    {% endif %}

    <main id="site-main">
      <section class="use">
        <div class="container">
          <div id="content">
            {{ content }}
          </div>
        </div>
      </section>
    </main>

    {% if include.footer %}
      {% include gcn-footer.liquid %}
    {% endif %}

    {% include gcn-sign-in-modal.liquid %}

    <!-- Firebase -->

    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase-firestore.js"></script>
    <script>
      var config = {
        apiKey: "AIzaSyDxRKAcs0vk1D3KKzNDRpBzhgowkaSmmvg",
        authDomain: "golf-clash-notebook.firebaseapp.com",
        databaseURL: "https://golf-clash-notebook.firebaseio.com",
        projectId: "golf-clash-notebook",
        storageBucket: "golf-clash-notebook.appspot.com",
        messagingSenderId: "101324820979"
      };
      firebase.initializeApp(config);
    </script>

    <!-- Firebase -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>

    <script src="/js/golf-clash-notebook-site.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.12/marked.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touch/1.1.0/jquery.touch.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/bootstrap-slider.min.js"></script>

  </body>

</html>