<footer id="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-8">
        <div class="text-small">
          <a href="/terms/">Terms</a> | <a href="/privacy/">Privacy</a>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="text-right">
          <a href="https://twitter.com/gc_notebook" target="_blank" rel="noopener">
            <i class="fab fa-twitter fa-lg"></i>
          </a>
          <a href="https://github.com/golf-clash-notebook/golf-clash-notebook.github.io/" target="_blank" rel="noopener">
            <i class="fab fa-github fa-lg"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>