<footer id="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-xs-10">
        <div>
          Built by <a href="https://github.com/golf-clash-notebook/golf-clash-notebook.github.io/graphs/contributors/" target="_blank" rel="noopener">Golf Clash Notebook Contributors</a>
        </div>
      </div>
      <div class="col-sm-3 col-xs-2">
        <div class="text-right">
          <a href="https://github.com/golf-clash-notebook/golf-clash-notebook.github.io/">
            <i class="fab fa-github"></i>
            <span class="hidden-xs">View on GitHub</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>