
{% assign mod2 = include.clubs | size | modulo: 2 %}

<p class="lead text-center">{{ include.categoryName }}</p>

<hr>

<div>

  {% for club in include.clubs %}

    {% assign loopMod2 = forloop.index0 | modulo: 2 %}
    {% assign nextIx = forloop.index0 | plus: 1 %}
    {% assign numClubs = include.clubs | size %}

    {% capture columnClasses %}
      {% if mod2 == 1 and forloop.last %}
        col-lg-6 col-lg-offset-3 col-md-12 col-md-offset-0
      {% else %}
        col-lg-6 col-md-12
      {% endif %}
    {% endcapture %}

    {% if nextIx < numClubs and loopMod2 == 0 %}

      {% assign nextClub = include.clubs[nextIx] %}

      <div class="row">
        <div class="{{ columnClasses | strip }} col-flex" data-mh="club-card">
          {% include_relative club-template.liquid club=club %}
        </div>
        <div class="{{ columnClasses | strip }} col-flex" data-mh="club-card">
          {% include_relative club-template.liquid club=nextClub %}
        </div>
      </div>

    {% elsif loopMod2 == 0 %}
      <div class="row">
        <div class="{{ columnClasses | strip }} col-flex" data-mh="club-card">
          {% include_relative club-template.liquid club=club %}
        </div>
      </div>
    {% else %}
    {% endif %}

  {% endfor %}
</div>