
/** chest-card-count based on bootstrap <kbd> */

.chest-card-count {
  font-family: "Roboto Mono", "Menlo", "Monaco", "Consolas", "Courier New", monospace;
  font-size: 75%;
  font-weight: bold;
  padding: 2px 2px;
  color: #555;
}
