/** General Bootstrap stuff... **/

html {
  height: 100%

}

body {
  background-color: #192a37 !important;
  min-height: 100%;
}

.use {
  padding-top: 20px;
  padding-bottom: 30px;
}

.btn {
  border-radius: 0px;
}

.popover {
  max-width: 800px !important;
}

#content {
  padding-top: 10px;
  padding-bottom: 10px;
}

#site-main {
  background-color: #fff;
}

#site-footer {
  background-color: #192a37;
  padding: 15px 0;
  z-index: 2000;

  div {
    a {
      color: rgba(255, 255, 255, 0.6);
    }
  }
}

/** Turn jumbotron into mediumtron. **/

.jumbotron {
  padding-top: 80px;
  padding-bottom: 40px;
  margin-bottom: -48px;

  /* TODO: This may be an issue with sbt-microsites */
  // background-size: 15px 14px !important;
  background: #192a37;
}

.table-responsive {
  border: 0;
}

blockquote {
  footer {
    color: #777;
  }
}

::selection {
  background: #0095ff; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #0095ff; /* Gecko Browsers */
}