
.ball-chart-container {
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 0 12px;
}

.ball-table-container {
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
}

.slider {
  &.slider-horizontal {

    width: 100%;

    > .slider-track {
      height: 6px;
      margin-top: -6px;
    }
  }
}

.slider-tick-label {
  font-size: 75%;
}

.slider-tick {
  width: 15px;
  height: 15px;
  &.in-selection {
    background-image: none !important;
    background: lighten(#192a37, 30%);
  }
}

.slider-handle {
  background-image: none !important;
  background: lighten(#192a37, 5%);
  width: 15px;
  height: 15px;
}

.slider-selection {
  background-image: none !important;
  background: lighten(#192a37, 30%);
}
