/** Fix Boostrap affix flicker: https://finiteheap.com/webdev/2014/12/26/bootstrap-affix-flickering.html **/

@media (max-width: 500px) {
  .brand {
    .icon-wrapper {
      span {
        display: none;
      }
    }
  }
}

.nav-link {
  .svg-inline--fa {
    vertical-align: middle !important;
  }

  span {
    padding-left: 4px;
  }

  &:hover { background-color: transparent !important; }
  &:focus { background-color: transparent !important; }
}

@media (max-width: 300px) {
  .nav-link {
    span {
      display: none;
    }
  }
}

#site-header > .navbar-wrapper {
  margin-top: 30px;

  .container > .row > div > .navbar-right {
    margin: 0;
  }
}

#nav-affix-wrapper {
  height: 48px;
}

#nav-container {
  display: flex;
  justify-content: center;
  z-index: 1000;

  > ul.horizontalNav {
    box-sizing: border-box;
    white-space: nowrap;
    border: none;
    padding: 0 8px;
    position: relative;
    overflow: hidden;
  }

  &.affix {
    background-color: #192a37;
    top: 0;
    left: 0;
    right: 0;
    transition-duration: 0.2s;
  }
}

ul.horizontalNav {
  li {
    display: inline-block;
    float: none;

    a {
      color: #fff;
    }
  }

  > li > a.active {
    border-bottom: 3px solid white;
  }
}

@media (max-width: 768px) {
  #nav-container.affix.mobile-nav-hide {
    transform: translateY(-52px);
    transition-duration: 0.2s;
  }
}

.nav-scroll {
  color: #fff;
  padding: 0 8px;
  visibility: hidden;
  outline: none;

  &:link, &:visited, &:hover, &:focus, &:active {
    color: #fff;
    outline: none;
  }
}

#username-photo-img {
  height: 28px;
  width: 28px;
  margin: 4px;
}

#username-menu-item {
  padding: 0 8px 0 0;
}

#logged-in-menu {

  display: inline-block;
  min-width: 160px;

  a:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    &:hover { background-color: transparent !important; }
    &:focus { background-color: transparent !important; }
  }

  &.open {

    a {
      background-color: #fff !important;
      color: #192a37 !important;
    }

    a:hover {
      background-color: #fff !important;
      color: #192a37 !important;
    }

    a:focus {
      background-color: #fff !important;
      color: #192a37 !important;
    }

    -webkit-box-shadow: 2px 2px 5px 0px rgba(50,50,50,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(50,50,50,0.75);
    box-shadow: 2px 2px 5px 0px rgba(50,50,50,0.75);
  }

  a.dropdown-toggle {
    padding: 8px 15px 2px 15px;
  }

  ul.dropdown-menu {

    border: none !important;

    li[role=separator] {
      margin: 2px 0;
    }

    li > a {
      color: #333 !important;
    }
  }

}
