/** General Bootstrap stuff... **/

.use {
  padding: 30px 0;
}

.btn {
  border-radius: 0px;
}

.popover {
  max-width: 800px !important;
}

/* Account for our fixed footer. */

#content {
  padding-top: 10px;
  padding-bottom: 40px;
}

/** Fixed Footer **/

#site-footer {
  background-color: #192a37;
  padding: 15px 0;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;
}

@media (max-width: 768px) {

  #site-footer {
    position: static;
  }

  /* Account for our (un)fixed footer. */
  #content {
    padding-bottom: 0;
  }
}

/** Turn jumbotron into mediumtron. **/

.jumbotron {
  padding-top: 80px;
  padding-bottom: 40px;
  margin-bottom: -48px;

  /* TODO: This may be an issue with sbt-microsites */
  background-size: 15px 14px !important;
}

.table-responsive {
  border: 0;
}
