.club-stat-table > tbody > tr > th {
  white-space: nowrap;
}

.clubs-thumb {
  margin-bottom: 1.5em;
  text-align: center;
}

.wind-chart {

  > svg {
    display: block;
    margin: 0 auto;
    max-height: 60vh;
    max-width: 60vh;
  }

  > nav > ul > li > a {
    cursor: default;
  }
}

ul.club-pagination {
  margin-top: 10px;
  margin-bottom: 0;
}

.btn-wind-chart {
  padding: 5px 25px;
}

.btn-wind-chart-modal {
  padding: 5px 10px;
}

/** Club rankings **/

#club-category-select {
  margin: 24px 0;
}

#club-rankings-container {
  table {
    tbody {
      tr {
        padding: 0 8px;
      }
    }
  }
}

.club-ranking-row-image {
  display: inline;
  width: 48px;
}
