
#faq-container {
  position: relative;
}

#faq-scrollspy-nav {

  &.affix {
    top: 80px;
  }

  > .nav {
    li {

      &.active {
        border-left: 2px solid #4caf50;

        a {
          color: #333;
        }
      }

      a {
        padding: 4px 15px;
      }

    }
  }
}

.faq-category-header {
  padding-top: 48px;
  margin: 0;
}

.faq-question {
  margin-top: 18px;
}

.faq-answer {
  margin-left: 6px;
  margin-bottom: 0;
}