
.resources-list {
  display: inline-block;
  text-align: left;

  li a h4 {
    margin: 6px 0;

    span {
      margin-right: 6px;
    }
  }
}

.resource-creator-panel-group {

  margin-bottom: 0;

  .panel {
    border-radius: 0;
  }

  .creator-collapse-link {
    cursor: default;
    display: block;
    text-decoration: none;
  }
}