
.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

.table-centered {
  margin: 0 auto;
  padding: 1em;
}

.table-content-centered > thead > tr > th {
  text-align: center;
  vertical-align: middle;
}

.table-content-centered > tbody > tr > th {
  text-align: center;
  vertical-align: middle;
}

.table-content-centered > tbody > tr > td {
  text-align: center;
  vertical-align: middle;
}

.table-squished {
  width: auto;
}

.table-equal-columns {
  table-layout: fixed;
}

.table-nowrap > tbody > tr > td {
  white-space: nowrap;
}