
{% include_relative contributing/contributing-status-holes.liquid %}
{% include_relative contributing/contributing-status-clubs.liquid %}
{% include_relative contributing/contributing-status-balls.liquid %}
{% include_relative contributing/contributing-status-tours.liquid %}

<div class="row">
  <div class="col-xs-6 col-xs-offset-4 text-center text-semi-muted text-tiny">
    Current progress in providing descriptions.
  </div>
</div>
