
<div id="stream-schedule" class="gcn-news-list gcn-stream-list">
  <div class="list-group">
    <div class="list-group-item">Stream Schedules</div>
    {% for channel in site.data.channels %}
      <div class="list-group-item stream-item" data-channel-id="{{ channel.id }}">
        <a href="https://www.youtube.com/channel/{{ channel.id }}" target="_blank" rel="noopener">
          <h5 class="list-group-item-heading stream-title">{{ channel.name }}</h5>
        </a>
        <div class="orbit-spinner spinner-centered stream-updating-spinner hidden">
          <div class="orbit"></div>
          <div class="orbit"></div>
          <div class="orbit"></div>
        </div>
        <div class="list-group-item-text stream-schedule text-small"></div>
      </div>
    {% endfor %}
    <div class="list-group-item stream-item-footer">
      <div class="text-tiny text-right">Schedule updates may take up to 15 minutes to appear.</div>
    </div>
  </div>
</div>
