
<div class="wind-chart">
  <svg viewBox="0 0 100 100" width="30%">

    <circle cx="50" cy="50" r="50" stroke-width="0.1" stroke="#000" fill="#ffffff"/>
    <circle cx="50" cy="50" r="40" stroke-width="0.1" stroke="#000" fill="#000000" fill-opacity="0.1"/>
    <circle cx="50" cy="50" r="30" stroke-width="0.1" stroke="#000" fill="#70c5fe"/>
    <circle cx="50" cy="50" r="20" stroke-width="0.1" stroke="#000" fill="#ffc350"/>
    <circle cx="50" cy="50" r="10" stroke-width="0.1" stroke="#000" fill="#fbff65"/>
    <circle cx="50" cy="50" r="0.5" stroke-width="0.1" stroke="#000" fill="#000000"/>

    <text x="50%" y="5" dy="0.1em" text-anchor="middle" alignment-baseline="middle" font-family="Lato" font-size="5">11.65</text>
    <text x="50%" y="15" dy="0.1em" text-anchor="middle" alignment-baseline="middle" font-family="Lato" font-size="5">9.65</text>
    <text x="50%" y="25" dy="0.1em" text-anchor="middle" alignment-baseline="middle" font-family="Lato" font-size="5">7.65</text>
    <text x="50%" y="35" dy="0.1em" text-anchor="middle" alignment-baseline="middle" font-family="Lato" font-size="5">5.65</text>
    <text x="50%" y="45" dy="0.1em" text-anchor="middle" alignment-baseline="middle" font-family="Lato" font-size="5">3.65</text>

  </svg>
</div>
