
{% capture resourceIcon %}
  {% include resources/icon.liquid resource=include.resource size=2 %}
{% endcapture %}

<div class="panel panel-default gcn-card" style="flex: 1;">
  <div class="panel-heading">
    <div class="thumbnail">
      {{ resourceIcon }}
    </div>
    <h4 class="title"><a href="{{ include.resource.url }}" target="_blank" rel="noopener">{{ include.resource.name }}</a></h4>
  </div>
  <div class="panel-body">
    {% if include.resource.description contains 'Help Wanted' %}
      <p class="text-prototype">
        {% lipsum 1 5 10 %}
      </p>
    {% else %}
      <p style="margin-top: 20px;">
        {{ include.resource.description }}
      </p>
    {% endif %}
  </div>
</div>
