<!DOCTYPE html>
<html>

  <head>

      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110417967-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-110417967-1');
      </script>

      <title>Golf Clash Notebook</title>

      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="author" content="golf-clash-notebook">
      <meta name="theme-color" content="#192a37"/>

      <meta name="description" content="An Open Guide to Mastering Golf Clash">

      <meta name="og:image" content="/img/poster.png">
      <meta name="og:title" content="Golf Clash Notebook">
      <meta name="og:site_name" content="Golf Clash Notebook">
      <meta name="og:url" content="https://www.github.com/golf-clash-notebook/golf-clash-notebook.github.io">
      <meta name="og:type" content="website">
      <meta name="og:description" content="An Open Guide to Mastering Golf Clash">

      <link rel="icon" type="image/png" href="/img/favicon.png">

      <meta name="twitter:title" content="Golf Clash Notebook">
      <meta name="twitter:image" content="https://www.github.com/golf-clash-notebook/golf-clash-notebook.github.ioimg/poster.png">
      <meta name="twitter:description" content="An Open Guide to Mastering Golf Clash">
      <meta name="twitter:card" content="summary_large_image">

      <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon16x16.png">
      <link rel="icon" type="image/png" sizes="24x24" href="/img/favicon24x24.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon32x32.png">
      <link rel="icon" type="image/png" sizes="48x48" href="/img/favicon48x48.png">
      <link rel="icon" type="image/png" sizes="57x57" href="/img/favicon57x57.png">
      <link rel="icon" type="image/png" sizes="60x60" href="/img/favicon60x60.png">
      <link rel="icon" type="image/png" sizes="64x64" href="/img/favicon64x64.png">
      <link rel="icon" type="image/png" sizes="70x70" href="/img/favicon70x70.png">
      <link rel="icon" type="image/png" sizes="72x72" href="/img/favicon72x72.png">
      <link rel="icon" type="image/png" sizes="76x76" href="/img/favicon76x76.png">
      <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon96x96.png">
      <link rel="icon" type="image/png" sizes="114x114" href="/img/favicon114x114.png">
      <link rel="icon" type="image/png" sizes="120x120" href="/img/favicon120x120.png">
      <link rel="icon" type="image/png" sizes="128x128" href="/img/favicon128x128.png">
      <link rel="icon" type="image/png" sizes="144x144" href="/img/favicon144x144.png">
      <link rel="icon" type="image/png" sizes="150x150" href="/img/favicon150x150.png">
      <link rel="icon" type="image/png" sizes="152x152" href="/img/favicon152x152.png">
      <link rel="icon" type="image/png" sizes="196x196" href="/img/favicon196x196.png">
      <link rel="icon" type="image/png" sizes="310x310" href="/img/favicon310x310.png">
      <link rel="icon" type="image/png" sizes="310x150" href="/img/favicon310x150.png">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="/highlight/styles/atom-one-light.css">

      <!-- Our styles -->
      <link rel="stylesheet" href="/css/style.css">
      <link rel="stylesheet" href="/css/palette.css">
      <link rel="stylesheet" href="/css/codemirror.css">
      <link rel="stylesheet" href="/css/monokai.css">
      <link rel="stylesheet" href="/css/overrides.css">
      <link rel="stylesheet" href="/css/courses.css">
      <link rel="stylesheet" href="/css/contributing.css">
      <link rel="stylesheet" href="/css/clubs.css">
      <link rel="stylesheet" href="/css/tours.css">
      <link rel="stylesheet" href="/css/chests.css">
      <link rel="stylesheet" href="/css/nav.css">
      <link rel="stylesheet" href="/css/tables.css">
      <link rel="stylesheet" href="/css/redacted.css">
      <link rel="stylesheet" href="/css/common.css">

      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono">
  </head>

  <body>
      <header id="site-header">
          <div class="navbar-wrapper">
              <div class="container">
                  <div class="row">
                      <div class="col-xs-6">
                          <a href="/" class="brand">
                              <div class="icon-wrapper"><span>Golf Clash Notebook</span></div>
                          </a>
                      </div>
                      <div class="col-xs-6">
                          <nav class="text-right">
                              <ul class="">
                                  <li><a href="https://github.com/golf-clash-notebook/golf-clash-notebook.github.io"><i class="fa fa-github"></i><span class="hidden-xs">GitHub</span></a></li>
                              </ul>
                          </nav>
                      </div>
                  </div>
              </div>
          </div>
          <div class="jumbotron">
              <div class="container"></div>
          </div>
          <!-- Affix wrapper to avoid Bootstrap affix flickering -->
          <div id="nav-affix-wrapper">
            <div id="nav-container">
                <button type="button" class="btn btn-link nav-scroll nav-scroll-left"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                <ul class="horizontalNav">

                    {% assign pages = site.pages | sort:'position'  %}

                    {% for p in pages %}
                      {% if p.position != null %}
                        <li><a class="{% if p.url == page.url %} active {% endif %}" href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a></li>
                      {% endif %}
                    {% endfor %}

                </ul>
                <button type="button" class="btn btn-link nav-scroll nav-scroll-right"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
            </div>
          </div>
      </header>
      <main id="site-main">
          <section class="use">
              <div class="container">
                  <div id="content">
                    {{ content }}
                  </div>
              </div>
          </section>
      </main>
      <footer id="site-footer">
          <div class="container">
              <div class="row">
                  <div class="col-xs-9">
                      <p>Golf Clash Notebook is designed and developed by <a href="" target="_blank">golf-clash-notebook</a></p>
                  </div>
                  <div class="col-xs-3">
                      <p class="text-right"><a href="https://github.com/golf-clash-notebook/golf-clash-notebook.github.io"><span class="fa fa-github"></span>View on GitHub</a></p>
                  </div>
              </div>
          </div>
      </footer>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

      <script src="/highlight/highlight.pack.js"></script>
      <script>
          hljs.configure({
              languages: ['scala', 'java', 'bash']
          });
          hljs.initHighlighting();
      </script>

      <script src="/js/golf-clash-notebook-site.js"></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touch/1.1.0/jquery.touch.min.js"></script>

  </body>

</html>